<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dane z tabeli {{ table_name }}</title>
</head>
<body>
    <h1>Dane z tabeli {{ table_name }}</h1>
    <table border="1">
        <tr>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
            <tr>
                {% for value in row %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('index') }}">Powrót do listy tabel</a>
</body>
</html>